@import "./import.css";
@import "./date-picker.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #0A1E42;
}

.layout-bg {
  min-height: 100vh;
  background: #F4F7FF;
}

button {
  user-select: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.submenu-button {
  .submenu-item {
    display: none;
  }

  &:hover {
    .submenu-item {
      display: block;
    }
  }
}

.guest-portal-page {
  padding: 60px 0 0;
}

.my-card-filter {
  height: 100%;
  padding-right: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #001D50;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #001943;
  }
}

.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.scroll-bg-white {
  &::-webkit-scrollbar-track {
    background: #E4E8F0;
  }
}

@media (min-width: 1024px) {
  .guest-portal-page {
    padding: 60px 0 0 200px;
  }

  .my-card-filter {
    height: calc(100vh - 240px);
  }

  .my-card-list {
    height: calc(100vh - 166px);
    overflow: hidden;
  }
}

@media (max-width: 1100px) {
  .box-stage-open-buy {
    grid-template-rows: auto;
    grid-template-columns: none;
  }

  .box-stage-card {
    display: grid;
    justify-content: center;

    .box-stage-card-list {
      display: grid;
      gap: 2px 40px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: space-between;
    }
  }
}

@media (min-width: 1280px) {
  .guest-portal-page {
    padding: 60px 0px 0 200px;
  }
}

.legendary-type {
  background: linear-gradient(180deg, #EDD513 0%, #F49D2C 100%);
}

.epic-type {
  background: linear-gradient(180deg, #E34DB1 0%, #DC26D7 100%);
}

.rare-type {
  background: linear-gradient(180deg, #02498B 0%, #012558 100%);
}

.uncommon-type {
  background: linear-gradient(180deg, #56AA2E 0%, #8DCD52 100%);
}

.common-type {
  background: linear-gradient(180deg, #06BEB6 0%, #42B2BE 100%);
}

.box-sold {
  background: linear-gradient(111.96deg, #6681FF 14.37%, #2152CB 85.63%);
}

.lucky-box-bg-light {
  background-image: url('/images/luckybox/lucky_box_bg_light.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #002464;
}

.coundown-box-bg {
  background-image: url('/images/luckybox/coundown_box_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #0A1E42;
}

.coundown-bg {
  background-image: url('/images/luckybox/coundown_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #0A1E42;
}

.card-open {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) scale(0);
  transform-origin: bottom center;
  transition: 0.5s linear;
  bottom: calc(50% - 200px);
}

.popup-card-open {
  opacity: 1;
  transform: rotateY(0) scale(1);
  transform-style: preserve-3d;
  animation: animationCardOpen 0.8s linear;
}

.father-popup-card {
  perspective: 1000px;
}

@keyframes animationCardOpen {
  from {
    opacity: 0;
    transform: rotateY(90deg) scale(0.1);
  }

  to {
    opacity: 1;
    transform: rotateY(0) scale(1);
  }
}

.card_nft:hover {
  .card_nft_item {
    display: flex;
  }
}

.toast-animation {
  height: 0px;
  padding: 0;
  overflow: hidden;
  animation: toastAnimation 5s linear;
}

@keyframes toastAnimation {
  0% {
    height: 0px;
    padding: 0;
    opacity: 0;
    transform: translateX(100px);
  }

  3% {
    height: fit-content;
    padding: 12px 32px;
    opacity: 1;
    transform: translateX(0px);
  }

  97% {
    height: fit-content;
    padding: 12px 32px;
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    height: 0px;
    padding: 0;
    display: block;
    width: fit-content;
    opacity: 0;
    transform: translateX(100px);
  }
}

.open-box-animation {
  background: url("/videos/open-box.png") no-repeat;
  background-position: right;
  width: 360px;
  height: 360px;
  transition: background-position 5s steps(74);
  animation: logo-animate 5s steps(74) forwards;
}

.open-box-loaded {
  background: url("/videos/open-box.png") no-repeat;
  width: 0;
  height: 0;
}

@keyframes logo-animate {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 16px;
  min-width: 16px;
  height: 16px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 5px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "✔";
  width: 12px;
  height: 22px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked {
  border: 1px solid rgba($color: #000000, $alpha: 1);
}

input[type="checkbox"]:checked::before {
  transform: scale(0.7);
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 16px;
  min-width: 16px;
  height: 16px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  font-family: FontAwesome;
  content: "";
  width: 8px;
  height: 8px;
  transform: scale(0);
  background: #002464;
  border-radius: 50%;
  transition: 120ms transform ease-in-out;
}

input[type="radio"]:checked {
  border: 1px solid rgba($color: #000000, $alpha: 1);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

select {
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('/images/icons/arrow_down_60.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: calc(50%);
  padding: 9px 40px 9px 12px;
  border-radius: 6px;
  background-color: #F4F7FF;
  border: none;
  outline: none;
}

.search {
  position: relative;

  input {
    border-radius: 6px;
    border: none;
    outline: none;
  }

  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: 12px;
    background: url('/images/icons/search.svg');
  }

  &-sm::before {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    background-size: 100% 100%;
  }
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  display: none;
}

.btn-fill {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #002464;
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;

  &:disabled {
    opacity: 0.5;
  }
}

.btn-line {
  border: 1px solid #002464;
  background: transparent;
  color: #0A1E42;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;

  &:disabled {
    opacity: 0.5;
  }
}

.btn-cancel {
  background: linear-gradient(180deg, #EA5D5D 0%, #DD5A5A 100%);
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;

  &:disabled {
    opacity: 0.5;
  }
}

.btn-accept {
  background: #5FC08E;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;

  &:disabled {
    opacity: 0.5;
  }
}